apiVersion: v1
baseDomain: {{ create_openshift_isos_base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
{% if create_openshift_isos_control_plane_nodes | length == 1 %}
  replicas: 0
{% else %}
  replicas: {{ create_openshift_isos_compute_nodes | default([]) | length }}
{% endif %}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: {{ create_openshift_isos_control_plane_nodes | length }}
metadata:
  name: {{ create_openshift_isos_cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ create_openshift_isos_machine_cidr }}
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
fips: false
{% if create_openshift_isos_control_plane_nodes | length == 1 %}
bootstrapInPlace:
  installationDisk: /dev/sda
{% endif %}
pullSecret: '{{ create_openshift_isos_pull_secret }}'
{% if create_openshift_isos_ssh_keys is defined %}
sshKey: |
{% for ssh_key in create_openshift_isos_ssh_keys %}
  {{ ssh_key }}
{% endfor %}
{% endif %}
